
@import "./abstracts/variables";

@import "~bootstrap/scss/bootstrap";

@import "./abstracts/themes";
@import "./abstracts/typography";
// Then add additional custom code here
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Mono', monospace;
}
nav {
    background-color: var(--bs-navbar-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); ;
}
h1 {
  color: var(--bs-intro);
}
a {
  color: var(--bs-body-color);
  text-decoration: none;
  font-weight: 700;
}

.vstack.sticky-top {
  top: 20rem;
  height: fit-content;
}
.bi{
  font-size: 2.1875rem;
  color: var(--bs-body-color);
  width: 2.1875rem;
}
.bi-linkedin:hover {
  color: var(--bs-linkedin);
}
.bi-github:hover {
  color: var(--bs-github);
}
.bi-file-earmark-person:hover {
  color: var(--bs-cv);
}
.bi-instagram:hover {
  color: var(--bs-instagram);
}

#content {
  top: 5rem;
}

#typewriter {
  color: var(--bs-intro);
}
.parenthesis-a {
  color: var(--bs-parenthesis-a);
}
.parenthesis-b {
  color: var(--bs-parenthesis-b);
}
.print-write {
  color: var(--bs-print-write);
}
.message {
  color: var(--bs-message);
}
.system {
  color: var(--bs-system);
}
.out {
  color: var(--bs-out);
}
.document {
  color: var(--bs-document);
}
.select {
  color: var(--bs-select);
}
.typewriter-dash {
  color: var(--bs-body-color);
  animation: blink 1s steps(1) infinite;
}
@keyframes blink {
  50% {opacity: 0;}
}

#about-me-text {
  max-width: 640px;
}
#about-me-skills {
  width: 450px;
  min-width: 350px;
  margin-left: 8rem;
}

.icon-cloud {
  height: 550px;
}
.skill-icon {
  position: absolute;
  will-change: trasnform;
}


.img-fluid.rounded {
  width: 640px; 
  height: 400px; 
  object-fit: cover;
}
.aaca-link{
  color: var(--bs-body-color)
}

