:root,
[data-bs-theme="light"] {
  --bs-body-bg: #F3F4F6;
  --bs-body-color: #000000CC;
  --bs-navbar-bg: #FFFFFF;

  --bs-parenthesis-a: #0431fa;
  --bs-parenthesis-b: #7b3814;
  --bs-print-write: #795e26;
  --bs-message: #a31515;
  --bs-system: #267f99;
  --bs-out: #0070c1;
  --bs-document: #001080;
  --bs-select: #00f;
  --bs-column-name: #000;
  --bs-intro: #000;
  --bs-linkedin: #0077B5;
  --bs-github: #181717;
  --bs-cv: #F4444E;
  --bs-instagram: #E1306C;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #1C1C22;
  --bs-body-color: #FFFFFFCC;
  --bs-navbar-bg: #1C1C22;

  --bs-parenthesis-a: #ffd700;
  --bs-parenthesis-b: #179fff;
  --bs-print-write: #dcdcaa;
  --bs-message: #ce9178;
  --bs-system: #4ec9b0;
  --bs-out: #4fc1ff;
  --bs-document: #9cdcfe;
  --bs-select: #569cd6;
  --bs-column-name: #d4d4d4;
  --bs-intro: #FFFFFF;
  --bs-linkedin: #0077B5;
  --bs-github: #FFF;
  --bs-cv: #F4444E;
  --bs-instagram: #E1306C;
}