$theme-colors: (
  "parenthesis-a": #0431fa,
  "parenthesis-b": #7b3814,
  "print-write": #795e26,
  "message": #a31515,
  "system": #267f99,
  "out": #0070c1,
  "document": #001080,
  "select": #00f,
  "intro": #000,
  "linkedin": #0077B5,
  "github": #181717,
  "cv": #F4444E,
  "instagram": #E1306C
);

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  6: 4rem,
  7: 5rem,
  8: 6rem,
  9: 7rem,
  10: 7.5rem,
  11: 8rem,
  12: 9rem,
  13: 10rem,
  14: 11rem,
  15: 12rem,
  16: 13rem,
  17: 14rem,
  18: 15rem,
  19: 16rem,
  20: 17rem,
);

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

$position-values: (
  0: 0,
  6: 6%,
  12: 12%,
  16: 16%,
  18: 18%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);